@charset "utf-8";

html, 
body {
	font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,宋体,sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	width: 100%;
}

div, 
p, 
h1, 
h2, 
h3, 
h4, 
ul, 
li,
input, 
button,
header {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

ul {
	list-style: none;
}


a:link,
a:visited,
a:hover,
a:active,
button:active {
  outline: 0;
  text-decoration: none;
}

textarea {
	resize: none;
}

.fl {
	float:left;
}

.fr {
	float:right;
}

.clearfix:before, 
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

