#header {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.topbar {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	height: 72px;
	background-color: rgba(0, 0, 0, .5);
	overflow: hidden;
	z-index: 999;
}

#logo {
	height: 72px;
	display: inline-block;
}

#logo img{
	height: 62px;
	padding-top: 5px;
}

/*#user {
	position: absolute;
	right: 20px;
	display: inline-block;
}*/

.user-box {
	position: absolute;
	right: 40px;
	top: 0;
}

.user-login, 
.user-signup,
.user-type {
	display: inline-block;
	color: #fff;
	border-bottom: 1px solid transparent;
	padding: 10px 5px;
	margin: 15px;
	transition: all .2s ease;	
	-moz-transition: all .2s ease; /* Firefox 4 */
	-webkit-transition: all .2s ease; /* Safari ºÍ Chrome */
	-o-transition: all .2s ease; /* Opera */
	cursor: pointer;
}

.user-login:hover, 
.user-signup:hover {
	border-bottom: 1px solid #fff;
} 

.separator {
	display: inline-block;
	width: 1px;
	height: 20px;
	vertical-align: middle;
	background-color: #fff;
	transform: rotate(15deg);
}

.icon-type {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 5px;
}
.slider {
	height: 500px;
	position: relative;
	overflow: hidden;
}
.slider ul {
	height: 500px;
}
.slider ul li {
	float: left;
	height: 500px;
}

.slider img {
	width: 100%;
}

#main {
	background-color: #fff;
	background: url('../images/brick-pattern.jpg');
}

.show-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.show-box {
	width: 800px;
	height: 450px;
	margin-left:auto;
	margin-right: auto;
	transform: translate(0, -30px);
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 1px 1px #eee;
}

.show-box-left,
.show-box-right {
	position: absolute;
	top: 100px;
}

.show-box-left{
	left: 0;
}

.show-box-right {
	right: 0;
}

.show-box-left:hover .left-bg,
.show-box-right:hover .right-bg{
	border-right-color: #C43436;
}


.left-bg{
	border-right: 100px solid #D98F90; 
	border-top: 50px solid transparent; 
	border-bottom: 50px solid transparent; 
	/*box-shadow: 0 0 1px 2px #000;*/

}

.right-bg {
	border-left: 100px solid #C43436;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

.show-toggle-bg {
	width: 0;
	height: 100px;
	transition: all .3s ease;	
	-moz-transition: all .3s ease; /* Firefox 4 */
	-webkit-transition: all .3s ease; /* Safari ºÍ Chrome */
	-o-transition: all .3s ease; /* Opera */
}

.text {
	font-size: 20px;
	cursor: pointer;
}

.left-text,
.right-text {
	position: absolute;
	display: inline-block;
	top: 0;
	padding: 70px 20px;
	letter-spacing: 3px;
	color: #fff;
	margin-left: 10px;
}

.show-box-menu {
	/*border-bottom: 1px solid #eee;*/
	box-shadow: 0 0 1px 1px #cecece;
	background-color: #fff;
}

.show-box-menu li{
	position: relative;
	padding: 18px 0;
	width: 25%;
	font-size: 1.2em;
	cursor: pointer;
	transition: all .2s ease;	
	-moz-transition: all .2s ease; /* Firefox 4 */
	-webkit-transition: all .2s ease; /* Safari ºÍ Chrome */
	-o-transition: all .2s ease; /* Opera */

}

.show-box-menu li:before,
.show-box-menu li:after  {
	content:'';
	text-align: center;
	position: absolute;
	bottom :0;
	opacity: 0;
	background: #a51c30;
	height: 4px;
	width: 0%;
	transition: width .5s, opacity .1s;
	-webkit-transition: width .5s, opacity .1s;
}

.show-box-menu li:before {
	right: 50%;
}

.show-box-menu li:after {
	left: 50%;
}

.show-box-menu li:hover:before,
.show-box-menu li:hover:after {
	width: 50%;
	opacity: 1;
}

.show-box-menu .active:before,
.show-box-menu .active:after {
	top: 0;
	width: 50%;
	opacity: 1;
}

.show-box-content {
	padding: 2em 3em;
}

.show-box-content ul {
	max-height: 21em;
	overflow: hidden;
}

.show-box-content li a{
	display: inline-block;
	width: 85%;
	max-width: 85%;
	font-size: 1.1em;
	height: 2em;
	line-height: 2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #555;
	overflow: hidden;
}

.show-box-content li a:hover {
	color: #a51c30;
}
.time {
	line-height: 2em;
	font-size: .8em;
	color: #999;
	vertical-align: middle;
}

.more {
	padding: 10px;
	color: #C43436;
	font-size: 13px;
}

.career-wrapper {
	width: 100%;
	/*height: 180px;*/

	background-color: #40506B;
	/*background: url('../images/laracon-bg.jpg');*/
}

.career-box {
	width: 1200px;
	margin: 0 auto;
}

.career-panel {
	display: inline-block;
	width: 19.5%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.career-panel .icon-career {
	width: 55px;
}

.career-name {
	color: #ecf0f1;
	padding: 10px;
	cursor: default;
}

.cooperator-wrapper {
	width: 100%;
	background-color: #fff;
	/*background: url('../images/a1c25510e88600000054a8d276f7.jpg');*/
}

.cooperator-box {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

.friendlink-wrapper {
	width: 100%;
	background: url('../images/laracon-bg.jpg');
	/*background-color: #40506B;*/
}

.friendlink {
	width: 1170px;
	margin: 0 auto;
	padding: 30px 0;
	color: #fff;
}

.friendlink-title {
	margin: 15px 0;
	font-weight: normal;
	cursor: default;
}

.icon-friend {
	width: 25px;
	margin-bottom: -5px;
	margin-left: 3px;
}

.icon-sfriend {
	width: 13px;
	margin-left: 5px;
	/*amrgin-bottom: -5px;*/
}
.friendlink-subtitle {
	margin-bottom: 10px;
	font-weight: normal;
	cursor: default;
}

.friendlink-box {
	width: 22.5%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.friendlink-box a {
	display: block;
	line-height: 1.8em;
	color: inherit;
}

.backtop {
	position: fixed;
	right: 50px;
	top: 45%;
	width: 50px;
	height: 150px;
	background-color: rgba(0, 0, 0, .5);
	z-index: 99;
}

.backtop-box a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/backtop.png') no-repeat;
}

.calender-box a {
	 background-position: 0 0;
	 transition: all .5px;
}

.weixin-box a {
	background-position: 0 -50px;
}

.totop-box a {
	background-position: 0 -100px;
}

.calender-box a:hover {
	background-position: -50px 0;
}

.weixin-box a:hover {
	background-position: -50px -50px;
}

.totop-box a:hover {
	background-position: -50px -100px;
}
.backtop-box {
	height: 50px;
}

#footer {
	width: 100%;
	background-color: #ebebed;
}

.copyright {
	padding: 30px;
	color: #4e4e61;
}

#header.sub-header{
	height: 300px;
}

#container {
	max-width: 1272px;
	margin: 0 auto;
}

#sidebar {
	width: 288px;
	padding: 5px;
	background-color: #F3F3F3;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.menu li {
	background-color: #F3F3F3;
	border-bottom: 1px solid #dfdfdf;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
}

.main-menu li a {
	display: block;
	padding-left: 30px;
	line-height: 40px;
	color: #2b2b2b;
}


.main-menu-item:hover > a{
	background-color: #99283C;
	color: #fff;
}

.main-menu-item.current-menu-item > a {
	color: #fff;
}

.sub-menu {
	display: none;
}

.current-menu-item .sub-menu {
	display: block;
}

.item-1:hover > a,
.item-1.current-menu-item > a {
	background-color: #e19100;
}

.item-2:hover > a,
.item-2.current-menu-item > a{
	background-color: #2369C8;
}

.sub-menu-item.active-item a {
	color: #eb4f38;
}
.sub-menu-item.active-item a:before{
	position: absolute;
	left: 2em;
	top: 10px;
	content: '';
	display: inline-block;
	border-left: 5px solid #eb4f38;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;

}

.sub-menu .sub-menu-item{
	position: relative;
	padding-left: 1em;
	background-color: #fff;
}

.sub-menu .sub-menu-item:hover {
	background-color: #eee;
}

#content {
	width: 954px;
}

.content-wrapper {
	padding: 30px;
}

.content-top {
	padding-left: 15px;
	padding-bottom: 15px;
	font-weight: normal;
	font-size: 22px;
	cursor: pointer;
}

.icon-top {
	display: inline-block;
	width: 28px;
	padding-right: 10px;
	
}
.content-top.top1 {
	border-bottom: 2px solid #e19100;
} 

.content-top .top2 {
	border-bottom: 2px solid #2369C8;
}

.content-box {
	padding: 30px 10px;
}

.content-list li {
	display: block;
	height: 7.5em;
}

.content-list .time {
	display: inline-block;
	border-right: 1px solid #eee;
	margin-right: 15px;
	line-height: 6em;
	padding: 0 10px;
}

.content-list a {
	width: 80%;
	line-height: 1.5em;
	display: inline-block;
	overflow: hidden;
}

.content-list .article-title {
	position: relative;
	padding: .5em 0 .5em 2em;
	line-height: 1em;
	color: #42b983;;
	font-weight: bold;
	font-size: 1.1em;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.content-list .article-title:before {
	content:'';
	display: inline-block;
	position: absolute;
	left: 0;
	width: 12px;
	height: 12px;
	background-color: #e19100;
	border-radius: 50%;
}

.content-list .article-detail {
	padding-left: 2em;
	overflow: hidden;
	max-height: 3em;
	color: #34495e;
}

.content-detail .content-title {
	font-size: 20px;
}

.content-relevant {
	width: 80%;
	margin: 0 auto;
}

.content-relevant span {
	padding: 10px 0;
	display: inline-block;
	width: 30%;
	color: #666;
}

.content-article {
	padding: 25px;
}
.content-article p {
	text-indent: 2em;
	line-height: 2em;
}